<html>
  <head>
    <meta charset="utf-8" />
    <script src="../include/globals.js"></script>
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="title">
      <div class="container">
        <div class="title-atm title-light"></div>
        <div class="title-atm title-grain"></div>
        <div class="title-atm title-vignette"></div>
        <div class="title-orb title-orb-1"></div>
        <div class="title-orb title-orb-2"></div>
        <div class="title-orb title-orb-3"></div>
        <div class="col">
          <div class="tournament_name"></div>
          <div class="event_name"></div>
        </div>
      </div>
    </div>
    <div class="winners_container"></div>
    <div class="losers_container"></div>
    <svg class="lines"></svg>
    <script src="../shared/tsh-assets.js"></script>
    <script src="index.js"></script>
  </body>
</html>
